/****************************************************************************************TAG SELECTORS*********************************************************************************/




body {
    background-color:#F4EEFF;
}

hr {
   border-style: none;
   border-top-style: dotted;
   border-color: grey;
   height: 0px;
   border-width: 5px;
   width: 5%;
}
h1 {
    color: #A6B1E1;
    font-style: oblique;
}

h2 {
    color: #A6B1E1;
    font-style: normal;
  
}

table, th, td
{
border: 1px solid;
border-color: black;
border-width: 1px;
}

table-noborder, th, td {
border: 0px;
}



/******************************************************************************************CLASS SELECTORS******************************************************************************/


.intro {
border-style: none;
}

.curcular {
    border-radius: 100%;
}

.dogemoji {
    border-radius: 1px;
    background-color: lightblue;
}

img:hover {
    background-color: gold;
}

/******************************************************************************************ID SELECTORS******************************************************************************/

#heading {
color: red;
}